    <header>
        <h1>{{pagetitle}}</h1>
        <p><a href="/">Home</a></p>
        <p><a href="/about">About</a></p>
    </header>
    <meta charset="utf-8">
    <title>This is  {{pagetitle}}</title> 